body{
    background-color: #000;
    color:white;
}
.squ{
    position: absolute;
width: 1100px auto ;
height: 550px auto;
left: 10px;
top: 100px;
right:20px;
box-shadow: rgba(253, 253, 253, 0.404) 0px 5px 15px;
background: rgba(199, 191, 191, 0.12);
border-radius: 10px;
}
.squ h2{
    text-align: center;
    color:white;
    font-family:play;
}